.portfolio{

  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%; 
  gap: 1rem;
  
  justify-content: center;
  margin: 3em;
}

.card{
width: 100%;
display: flex;
border-bottom: 2px solid #fff;
padding: 1rem;


}
.card>.imgContainer{
  display: flex;
  width: 60%;
}

.card>div>img{
  width: 100%;
  height: auto;
  object-fit: contain;
}
.projectInfo{
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  justify-content: space-between;

  padding: 2rem;
}
.projectInfo>div:not(.projectLinks){
  display: flex;
  flex-direction: column;
  width: 100%;
}
.projectInfo>ul{
  display: flex;
  gap: 1em;
  list-style: none;
  margin-top: 1em;
  flex-wrap: wrap;
}
.projectInfo>ul>li{
  border: 1px solid #fff;
  padding: .3rem;
  transition: all .2s ease-in-out;
}
.projectInfo>ul>li:hover{
  transform: scale(1.1);
  background: #7464c7;
}
.projectLinks{
  display: flex;
  width: 100%;
  padding: 1em  ;

 
}
.projectLinks>a{
  margin: 0  auto;
  color: #fff;
  transition: all .2s ease-in-out;
  text-decoration-line: none;
  font-weight: bold;
}
.projectLinks>a:hover{
  transform: scale(1.2);

}