/* Estilos generales */
.child-btn-download {
  font-size: 40px;
  color: #57c85a;
  transition: transform 0.3s;
  cursor: pointer;
  padding: 10px 20px; /* Ajusta el padding según tus preferencias */
}

.child-btn-download:hover {
  transform: scale(1.2);
}

/* Estilos para el componente NavBar */
.navbar {
  width: 200px;
  min-width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #7464c7;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 300;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6759b1;
}

.logo h1 {
  color: white;
  font-size: 50px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-container {
  display: flex;
  height: 50%;
  align-items: center;
}

.navbar-item {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.navbar-item button {
  color: white;
  border: none;
  background: none;
  padding: 8px;
  font-size: 30px;
  margin: 10px;
  transition: transform 0.3s;
}

.navbar-item button:hover {
  transform: scale(1.5);
  transition: transform 0.3s;
}

.downloaded-message {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  width: 300px;
  position: absolute;
  top: 10vh; /* Centrar verticalmente en el centro de la pantalla */
  left: 50vw; /* Centrar horizontalmente en el centro de la pantalla */
  transform: translate(-50%, -50%);/* Centrar tanto horizontal como verticalmente */
}

/* Estilos para pantallas pequeñas (max-width: 768px) */
@media (max-width: 768px) {
  .navbar {
    width: 100%;
    min-width: 100%;
    height: auto;
  }

  .navbar-container {
    height: auto;
    width: 100%;
  }

  .navbar-item {
    flex-direction: row;
    flex: 1;
  }

  .logo {
    display: none;
  }

  .navbar-item button {
    font-size: 24px;
    margin: 0;
  }
}
